<%- include('header'); -%>
<h1 class="text-center">Welcome admin</h1>
<p class="text-center"><a href="/landing">Home</a></p>

<div class="forms newbook">

    <form method="post">
        <h1 class="text-center">Add new Book</h1>
        <table>
            <tr>
                <td><label for="imagelink">Image Link: </label></td>
                <td><input name="imagelink" type="text"></td>
            </tr>
            <tr>
                <td><label for="bookname">Book Name: </label></td>
                <td><input name="bookname" type="text"></td>
            </tr>
            <tr>
                <td><label for="author">Author Name: </label></td>
                <td><input name="author" type="text"></td>
            </tr>
            <tr>
                <td><label for="rating">Rating out of 5: </label></td>
                <td><input name="rating" type="text"></td>
            </tr>
            <tr>
                <td><label for="price">Price: </label></td>
                <td><input name="price" type="text"></td>
            </tr>
            <tr>
                <td colspan="2"><button class="btn btn-primary" type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
    <div class="editlistdiv">
        <h1 class="text-center">Delete Listings</h1>
        
            <table class="edititems">
                <% bookList.forEach((items) => { %>
                <tr>
                    <td>
                            <p><%= items.name %></p>
                        </td>
                        <td>
                            <form action="/delete" method="post">
                                <input class="cb" name="checkbox" type="checkbox" value="<%= items._id %>"
                                    onChange="this.form.submit()">
                            </form>
                        </td>
                        <td>
                            <form action="/adminpanel/editlists/<%= items._id %>" method="post">
                                <button class="btn btn-primary">edit</button>
                            </form>
                        </td>

                </tr>
                <% }) %>
            </table>

    </div>
</div>


<%- include('footer'); -%>