<%- include('header'); -%>
<div>
    <h1 class="text-center">Edit Listings</h1>
    <img class="catimg" src="<%=book.image%>" alt="">
    <form class="forms" action="/adminpanel/edited/<%=book._id%>" method="post">
        <label for="image">Image</label><input name="image" type="text">
        <label for="title">Title</label> <input type="text" name="title" id="" placeholder="<%=book.name%>">
        <label for="author">Author</label><input type="text" name="author" id="" placeholder="<%=book.author%>">
        <label for="rating">Rating</label><input type="text" name="rating" id="" placeholder="<%=book.rating%>">
        <label for="price">Price</label><input name="price" type="text" placeholder="<%=book.price%>"><br>
        <button data-book="<%=book.id%>" class="btn btn-primary">Change</button>
    </form>
</div>