<%- include('header'); -%>
<div class="kart">
  
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/logout">Logout</a>
    
    <a id="r" href="/cart">cart(<%=length%>)</a>
  </div>
</nav>
<h1 class="text-center">Hey <%= name %>! glad you're here</h1>
<div class="">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" role="listbox" style=" width:100%; height: 300px !important;">
      <div class="carousel-item active banner">
          <img class="banner-img" src="images/banner1.jpg" alt="">
      </div>
      <div class="carousel-item banner" role="listbox" style=" width:100%; height: 300px !important;">
          <img class="banner-img" src="images/banner2.jpg" alt="">
      </div>
      <div class="carousel-item banner" role="listbox" style=" width:100%; height: 300px !important;">
        <img class="banner-img center-block" src="images/banner3.jpg" alt="">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="bestSellers">
    <h1 class="text-center">Bestsellers of the week</h1>
    <div class="bsbooks">
      <div>
        <img src="" alt="">
        <p>lalalalalalalalalal</p>
      </div>
      <div>
        <img src="" alt="">
        <p>lalalalalalalalalal</p>
      </div>
      <div>
        <img src="" alt="">
        <p>lalalalalalalalalal</p>
      </div>
    </div>
  </div>

  <div class="bookgallery">
    <nav class="navbar navbar-expand-lg navbar-light booknav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Book Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Fiction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Horror</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Adventure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Action</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container categories">
      <% products.forEach((items) => { %>
      <div class="hovashow">
        <img class="catimg" src="<%= items.image %>" alt="">
        <div id="catext">
          <b>
            <p><%= items.name %></p>
          </b>
          <p><%= items.author %></p>
          <p><%= items.rating %></p>
          <p>$<%= items.price %></p>
          <form action="/addtocart/<%= items._id %>" method="post">
            <button data-book="<%= items._id %>" name="cartButton" class="btn btn-danger">ADD</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>